body {
  background-color:dimgray;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
header {
  background-image: url("./background image.png");
  padding: 60px 20px;
  box-shadow: 0 4px 15px (rgba(red 0, green 0, blue 0, alpha 0.6));
  border-radius: 5px;
  text-align: center;
}
h1{
  color: honeydew;
}
h3{
  font-weight: bolder;
  font-style: oblique;
  text-align: center;
  text-decoration:overline;
}
.biography{
  display: flex;
  gap: 10px;
  margin: 20px 10px;
}
.About{
  flex: 1;
  padding: 10px;
  border-radius: 8px;
}
.links a:hover{
  color: lightblue;
}
h2{
  text-align: center;
  text-decoration: underline;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 40px 0;
}
ul li a {
  display: block;
  width: 200px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  font-weight: bolder;
  color:azure;
  text-decoration: underline;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.8);
  background-size: cover;
  background-position: center;
  transition: 1.5s;
}
ul li a:hover {
  transform: scale(1.0);
  box-shadow: 0 6px 18px rgba(0,0,0,0.8);
}
.gallery{
  background-color:grey;
  padding: 10px;
}
footer{
  text-align: center;
  padding: 20px;
  background: #111;
  margin-top: 10px;
  box-shadow: inset;
border-radius: 10px;
}
